<a href="https://colab.research.google.com/github/Shuvo3128/Python/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
arr = [10, 20, 30, 40]

for x in arr:
    print(x)

10
20
30
40

In [2]:
arr = [5, 10, 15, 20]
total = 0

for x in arr:
    total += x

print("Sum =", total)

Sum = 50

In [3]:
arr = [3, 7, 2, 9, 4]
largest = arr[0]

for x in arr:
    if x > largest:
        largest = x

print("Largest =", largest)

Largest = 9

In [4]:
arr = [1, 2, 3, 4, 5, 6]
count = 0

for x in arr:
    if x % 2 == 0:
        count += 1

print("Even count =", count)

Even count = 3

In [5]:
arr = [1, 2, 3, 4, 5]
rev = []

for i in range(len(arr) - 1, -1, -1):
    rev.append(arr[i])

print(rev)

[5, 4, 3, 2, 1]

In [6]:
arr = [10, 20, 30, 40]
x = 30
found = False

for i in arr:
    if i == x:
        found = True
        break

if found:
    print("Element found")
else:
    print("Element not found")

Element found

In [7]:
arr = [1, 2, 2, 3, 4, 4, 5]
unique = []

for x in arr:
    if x not in unique:
        unique.append(x)

print(unique)

[1, 2, 3, 4, 5]

In [8]:
arr = [12, 35, 1, 10, 34, 1]
largest = second = -1

for x in arr:
    if x > largest:
        second = largest
        largest = x
    elif x > second and x != largest:
        second = x

print("Second largest =", second)

Second largest = 34

In [9]:
arr = [1, 2, 3, 4, 5]
first = arr[0]

for i in range(len(arr) - 1):
    arr[i] = arr[i + 1]

arr[-1] = first
print(arr)

[2, 3, 4, 5, 1]

In [10]:
arr1 = [1, 3, 5]
arr2 = [2, 4, 6]
merged = []

for x in arr1:
    merged.append(x)

for x in arr2:
    merged.append(x)

print(merged)

[1, 3, 5, 2, 4, 6]