<a href="https://colab.research.google.com/github/Shuvo3128/Python/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
subject=["shuvo","Data","science"]
for x in subject:
    print(x)

shuvo
Data
science

In [2]:
data = 'python'

In [3]:
for x in data:
  print(x)

p
y
t
h
o
n

In [8]:
for x in range(len(data)):
  print(data[x])

1
0
0

In [9]:
data = 'i love data science so much'
for x in range(len(data)):
  print(data[x])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [12]:
data = 'i love data science so much'
data = data.split()
for x in range(len(data)):
  print(data[x],x)

i 0
love 1
data 2
science 3
so 4
much 5

In [14]:
n = [2,3,4,5,6,7,12,15]
total = 0
for x in n:
  total = total + x
  #print(total,x)
  print(total)

2
5
9
14
20
27
39
54

In [20]:
for i in range(10):
  print('data science')

data science
data science
data science
data science
data science
data science
data science
data science
data science
data science

In [21]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [22]:
fruits = ["apple", "banana", "mango"]

for fruit in fruits:
    print(fruit)

apple
banana
mango

In [23]:
for i in range(3):
    print(i)      # inside loop
print("Done")     # outside loop

0
1
2
Done

In [24]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [25]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [26]:
for i in range(-100, -9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [27]:
total = 0
for num in range(10, 1001):
  is_prime =True

  if num < 2:
    is_prime = False
  else:
    for i in range(2, num):
      if num % i == 0:
        is_prime = False
        break
  if is_prime:
    total += num
print(total)

76110

In [28]:
n = 7
factorial = 1

for i in range(1, n + 1):
    factorial *= i

print("Factorial of", n, "is", factorial)

Factorial of 7 is 5040

In [29]:
num = 27956240710
reverse_num = 0

while num > 0:
    digit = num % 10
    reverse_num = reverse_num * 10 + digit
    num //= 10

print("Reverse number:", reverse_num)

Reverse number: 1704265972

In [30]:
num = "27956240710"
print(num[::-1])

01704265972

While Loop

In [33]:
i = 0
while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [34]:
i = 10
while (i<=10):
  print(i,'shuvo')
  i +=1

10 shuvo

In [35]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [36]:
i = 1
total = 0

while i <= 10:
    total += i
    i += 1

print(total)

55

In [37]:
data = 'python'
data[0]

'p'

In [39]:
index=0
while index<len(data):
  print(data[index])
  index += 1

p
y
t
h
o
n

Nestd Loop

In [45]:
rows = 4
for x in range(1,rows+1):

  for y in range (1,x+1):
    print('*', end=' ' )
    print('')

*
*
*
*
*
*
*
*
*
*

In [46]:
for i in range(1, 5):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *