<a href="https://colab.research.google.com/github/Shuvo3128/Python/blob/main/List_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = ["Ali", "Ahmed", "Sara", "John"]

for name in names:
    print(name)

Ali
Ahmed
Sara
John

In [ ]:
numbers = [10, 20, 30, 40]
total = 0

for n in numbers:
    total += n

print("Sum =", total)

Sum = 100

In [ ]:
numbers = [5, 12, 3, 20, 7]
largest = numbers[0]

for n in numbers:
    if n > largest:
        largest = n

print("Largest =", largest)

Largest = 20

In [ ]:
fruits = ["apple", "banana"]
fruits.append("mango")
fruits.append("orange")

print(fruits)

['apple', 'banana', 'mango', 'orange']

In [ ]:
numbers = [1, 4, 7, 8, 10, 13]
count = 0

for n in numbers:
    if n % 2 == 0:
        count += 1

print("Even numbers count =", count)

Even numbers count = 3

In [2]:
S1 = [1, 2, 3, ('a', 's', 'f', 'g', 'h')]

In [3]:
type(S1)

list

In [5]:
S3 = []
n = int(input("Enter the number of index: "))
for i in range(n):
  new = input("Enter the value: ")
  S3.append(new)
print(S3)

Enter the number of index: 2
Enter the value: 3
Enter the value: 6
['3', '6']

In [6]:
a = [1, 2, 3]
b = a.copy()

b.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [7]:
fruits = ["apple", "banana"]
fruits.append("mango")

print(fruits)

['apple', 'banana', 'mango']

In [8]:
list1 = [1, 2]
list2 = [3, 4, 5]

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

In [9]:
numbers = [10, 20, 30]
numbers.insert(1, 15)

print(numbers)

[10, 15, 20, 30]

In [10]:
colors = ["red", "green", "blue"]
print(colors.index("green"))

1

In [11]:
nums = [1, 2, 2, 3, 2, 4]
print(nums.count(2))

3

In [12]:
numbers = [5, 2, 9, 1]
numbers.sort()

print(numbers)

[1, 2, 5, 9]

In [13]:
numbers = [1, 2, 3, 4]
numbers.reverse()

print(numbers)

[4, 3, 2, 1]

In [14]:
fruits = ["apple", "banana", "mango"]
fruits.remove("banana")

print(fruits)

['apple', 'mango']

In [15]:
numbers = [10, 20, 30]
x = numbers.pop(1)

print(x)
print(numbers)

20
[10, 30]

In [16]:
data = [1, 2, 3]
data.clear()

print(data)

[]