<a href="https://colab.research.google.com/github/Shuvo3128/Python/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
squares = [x**2 for x in range(10)]
__builtins__.print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
evens = [x for x in range(10) if x % 2 == 0]
__builtins__.print(evens)

[0, 2, 4, 6, 8]

In [3]:
data = 'i love data science'
[x for x in data]

['i',
 ' ',
 'l',
 'o',
 'v',
 'e',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [4]:
data = 'i love data science'
data = data.split()
[x for x in data if x != 'i']

['love', 'data', 'science']

In [5]:
squares = [i**2 for i in range(1, 6)]
__builtins__.print(squares)

[1, 4, 9, 16, 25]

In [6]:
numbers = [1, 2, 3, 4, 5, 6]
evens = [n for n in numbers if n % 2 == 0]
print(evens)

[2, 4, 6]

In [7]:
names = ["ali", "sara", "john"]
upper_names = [name.upper() for name in names]
print(upper_names)

['ALI', 'SARA', 'JOHN']

In [8]:
nums = [1, 2, 3]
result = [n * 10 for n in nums]
print(result)

[10, 20, 30]

In [9]:
words = ["python", "java", "c"]
lengths = [len(word) for word in words]
print(lengths)

[6, 4, 1]

In [10]:
nums = [2, 5, 8, 1, 9]
big = [n for n in nums if n > 5]
print(big)

[8, 9]

In [11]:
letters = [ch for ch in "python"]
print(letters)

['p', 'y', 't', 'h', 'o', 'n']

In [12]:
nums = [1, 2, 3, 4, 5]
result = ["even" if n % 2 == 0 else "odd" for n in nums]
print(result)

['odd', 'even', 'odd', 'even', 'odd']

In [13]:
pairs = [(i, j) for i in range(1, 4) for j in range(1, 3)]
print(pairs)

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [14]:
text = "python"
no_vowels = [ch for ch in text if ch not in "aeiou"]
print(no_vowels)

['p', 'y', 't', 'h', 'n']