<a href="https://colab.research.google.com/github/Shuvo3128/Python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ("apple", "banana", "mango")
print(fruits)

('apple', 'banana', 'mango')

In [2]:
numbers = (10, 20, 30, 40)

print(numbers[0])   # first item
print(numbers[-1])  # last item

10
40

In [3]:
colors = ("red", "green", "blue")

for color in colors:
    print(color)

red
green
blue

In [4]:
point = (5, 10)

x, y = point
print(x)
print(y)

5
10

In [5]:
def calculate(a, b):
    return a + b, a * b

result = calculate(3, 4)
print(result)

(7, 12)

In [6]:
person = ("Ali", 20, 5.9, True)
print(person)

('Ali', 20, 5.9, True)

In [7]:
marks = (85, 90, 78)

for i in range(len(marks)):
    print("Index:", i, "Value:", marks[i])

Index: 0 Value: 85
Index: 1 Value: 90
Index: 2 Value: 78

In [8]:
students = (
    ("Ali", 85),
    ("Sara", 90),
    ("John", 78)
)

for name, score in students:
    print(name, score)

Ali 85
Sara 90
John 78

In [9]:
nums = [1, 2, 3, 4]
t = tuple(nums)

print(t)

(1, 2, 3, 4)

In [10]:
locations = {
    (0, 0): "Origin",
    (1, 2): "Point A"
}

print(locations[(1, 2)])

Point A